<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
    <%=daoname%>
  </title>
  <link rel="icon" type="image/png" href="favicon.ico" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css" />
  <style>
    body {
      font-family: Hack;
    }

    #createProposalDescription,
    #createBatchMintProposalDescription {
      vertical-align: text-top;
    }
  </style>
</head>

<body bgcolor="#000000" text="#1BFF69">
  <h1>
    <a style="text-decoration: none; color: #1bff69" href=".">
      <%=daoname%>
    </a>
  </h1>
  <input id="connectWallet" type="button" value="链结钱包" onclick="Connect()" />
  <!-- | <input id="transfer"  type="button" value="Action2" onclick="Transfer()"> -->
  <h4 id="account"></h4>
  <h3 id="tokens"></h3>
  <span>
    <button id="setDelegates" type="button" onclick="startSetDelegates()" hidden>
      投票代理人变更</button>&nbsp;&nbsp;<button id="createProposal" type="button" onclick="startCreateProposal()" hidden>
      提案: 发放积分</button>&nbsp;
    <button id="createBatchMintProposal" type="button" onclick="startCreateBatchMintProposal()" hidden>
      提案: 批量发放积分</button>&nbsp;
    <button id="viewProposals" type="button" onclick="startViewProposals()" hidden>
      提案一览</button>&nbsp;
    <button id="governParameters" type="button" onclick="startGovernParameters()" hidden>
      治理参数</button>&nbsp;
  </span><button id="checkProposal" type="button" onclick="startCheckProposal()" hidden>
    提案查询</button>&nbsp;&nbsp;<button id="viewHolders" type="button" onclick="startViewHolders()" hidden>
    持有者列表</button>&nbsp;&nbsp;</span><br /><br />
  <form id="createProposalForm" hidden>
    <h3>提案发放积分</h3>
    <span>发放地址<font color="red"><small>*</small></font>:&nbsp;<input id="createProposalAddress"
        type="text" /></span><br /><br />
    <span>发放数量<font color="red"><small>*</small></font>:&nbsp;<input id="createProposalAmount"
        type="text" /></span><br />
    <br />
    <span>提案描述:&nbsp;<textarea id="createProposalDescription" rows="5"></textarea></span><br /><br />
    <button id="createProposalFormSummit" type="button" onclick="runCreateProposal()">
      提案上链
    </button>
  </form>
  <form id="createBatchMintProposalForm" hidden>
    <h3>提案批量发放积分</h3>
    <span>提案描述:&nbsp;<textarea id="createBatchMintProposalDescription" rows="5"></textarea></span><br /><br />
    <div id="csvpreview"></div>
    <br />
    <span id="csvfileupload">CSV 档案<font color="red"><small>*</small></font>:&nbsp;
      <input type="file" id="createBatchMintProposalFile" name="createBatchMintProposalFile"
        onchange="uploadBatchMintFile()" /></span><br />
    <br />
    <button id="createBatchMintProposalFormSummit" type="button" onclick="runCreateBatchMintProposal()">
      提案上链
    </button>
  </form>
  <small id="log"></small>
  <div id="viewProposalsBlock" hidden></div>
  <div id="governParametersBlock" hidden></div>
  <div id="setDelegatesBlock" hidden></div>
  <div id="viewHoldersBlock" hidden></div>
  <div id="checkProposalBlock" hidden></div>
  <span>
    <font id="typing"></font>
  </span>
  <br /><br /><br /><br /><br /><br /><br /><br />
  <h5>
    <font color="#808080">Powered by
      <a href="https://github.com/fatfingererr/govzero">
        <font color="#808080">Govzero</font>
      </a>
    </font>
  </h5>
</body>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="js/abi/erc20.js"></script>
<script src="js/abi/transfer.js"></script>
<script src="js/abi/governor.js"></script>
<script src="js/abi/token.js"></script>
<script src="js/utils/governor.js"></script>
<script src="js/index.js"></script>

</html>